# dependencies
/node_modules
/.pnp
.pnp.js

# build files
# /dist
/build
/.next
/out

# testing
/coverage

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env

# misc
.DS_Store
*.pem
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# typescript
*.tsbuildinfo
next-env.d.ts